.sidebar{
    background-color: #fff;
    width: 22%;
    height: 100%;
    position: fixed;
    // margin-right: 10px;

    button{
        background-color: #5adf5a;
        padding: 10px 20px;
        color: white;
        font-size: $font-size;
        text-transform: uppercase;
        margin: 90px 70px 50px 50px;
        border: none;
        border-radius: 30px;

        &:focus{
            outline: none;
        }
    }
}

.sidebars{
    position: relative;

    .bars{
        color: $light-grey;
        font-size: 11px;
        text-transform: capitalize;
        font-weight: 200;       
        margin-bottom: 22px;

        h6{
            padding-bottom: 5px;
            font-size: 11px;
            padding-left: 50px;

        }

        .bars--1{
            display: flex;
             padding: 5px;
             line-height: 15px;
             color: #212121;;
             padding-left: 50px;
            
            
             &--para{
                margin: 20px 0;
                background-color:rgba(151, 171, 207, 0.2);
                left: 0;
                right: 0;
            }
             p{
                 padding-left: 10px;
             }

             &:hover{
                left: 0;
                right: 0;
                background-color:rgba(151, 171, 207, 0.2);
                top: 6.22%;
                bottom: 86.05%;
                cursor: pointer;
             }

        }

    }
}

