@import 'config';
@import 'navbar';
@import 'sidenavbar';
@import 'section';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $light;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
    position: relative;
}

.main {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr;
    margin-right: 30px;
}